/* html{
    scroll-behavior: smooth;
} */

:target {
    scroll-margin-top: .8em;
  }

#Header{
    height:80px;
}

#Menu{
    width: 15%;
    float: left;
}

#Content{
    margin-left: 260px;
    margin-right: 24px;
    text-align:justify;
    font-size:18;
}