header {
	display: flex;
}

.logo {
	width: 325px;
	height: 70px;
}

.menuHeader {
	display: none;
}

.MuiDrawer-paper {
	width: 190px;
	align-items: center;
	margin-top: 110px;
}

@media screen and (max-width: 650px) {
	.menuHeader {
		display: flex;
		position: fixed;
		top: 5%;
		left: 0;
	}
}

@media screen and (max-width: 450px) {
	.logo {
		width: 225px;
		height: 50px;
	}
}

@media screen and (max-width: 350px) {
	.logo {
		width: 175px;
		height: 40px;
	}
}
