.inputSearch {
	width: 200px;
	padding: 0 0 20px 0;
}

.link {
	margin: 0;
	padding: 0;
	text-decoration: none;
}

#topicos {
	width: 200px;
	border-radius: 3px;
	color: #424242;
}

.sumaryContent {
	display: flex;
}

.sideBar .sumary,
.sideBar .item {
	border: 0.1px solid rgb(220, 220, 220);
	border-radius: 5px;
}

.sideBar .title :hover,
.sideBar .item :hover {
	background: #e0e0e0;
}

.sideBar .erro {
	width: 85%;
	padding: 10px;
	border: 0.1px solid rgb(220, 220, 220);
	border-radius: 5px;
	word-break: break-all;
}

@media screen and (max-width: 740px) {
	.inputSearch {
		width: 170px;
		padding: 0 0 5px 0;
	}

	#topicos {
		width: 170px;
	}

	.sideBar .erro {
		width: 85%;
		padding: 5px;
		border-radius: 5px;
	}
}
