.sideBar {
	width: 210px;
	height: calc(100% - 150px);
	position: fixed;
	top: 130px;
	left: 0;
	overflow-y: auto;
	overflow-x: hidden;
	z-index: 8;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.inputSearch {
	width: 200px;
	padding-bottom: 20px;
}

.link {
	margin: 0;
	padding: 0;
	text-decoration: none;
}

#topicos {
	width: 200px;
	border-radius: 3px;
	color: #424242;
}

.sumaryContent{
	display: flex;
}


.sideBar .sumary {
	border: 0.1px solid rgb(220, 220, 220);
	border-radius: 5px;
}

.sideBar .title :hover {
	background: #e0e0e0;
}

.sideBar .item {
	border: 0.1px solid rgb(220, 220, 220);
	border-radius: 5px;
}

.sideBar .item :hover {
	background: #e0e0e0;
}

.sideBar .erro {
	width: 85%;
	padding: 10px;
	border: 0.1px solid rgb(220, 220, 220);
	border-radius: 5px;
	word-break: break-all;
}

