.docContent {
	/* overflow-y: auto;
    overflow-x: hidden; */
	position: absolute;
	top: 100px;
	left: calc(16% + 20px);
	text-align: justify;
	font-size: 18;
	height: calc(100% - 100px);
	z-index: 7;
}

.content {
	width: 99.2%;
	color: #424242;
}

.content h1 {
	padding: 20px 0;
	font-size: 20pt;
}

.iconButtonTop {
	padding: 5px;
	position: fixed;
	right: 20px;
	bottom: 10px;
	border-radius: 50%;
	background: #616161;
	color: #fff;
}

.iconButtonTop:hover {
	background: #ff0000;
	color: #fff;
}
.logo {
	width: 100%;
	height: 70px;
}

.videoContent,
.imageContent {
	width: 450px;
	height: 250px;
	position: relative;
	left: 25%;
}

.videoContent embed, .imageContent img {
	width: 100%;
	height: 100%;
	border-radius: 3%;
}

.imageContent .ZoomInIcon {
	position: absolute;
	bottom: 0;
	right: 0;
}

.content .divider {
	background: rgb(220, 220, 220);
}
