
.content {
	position: relative;
	bottom: 10px;
	padding: 0 10px 0 0;
	color: #424242;
}

.content h1 {
	padding: 20px 0;
	font-size: 20pt;
}

.iconButtonTop {
	padding: 5px;
	position: fixed;
	right: 20px;
	bottom: 10px;
	border-radius: 50%;
	background: #616161;
	color: #fff;
	z-index: 6;
}

.iconButtonTop:hover {
	background: #ff0000;
	color: #fff;
}

.content .divider {
	background: rgb(220, 220, 220);
}

.imageContent img:hover{
	cursor: pointer;
}

.videoContent,
.imageContent {
	display: flex;
	justify-content: center;
	align-items: center;
	padding:10px;
}

.videoContent iframe,
.imageContent img {
	width: 450px;
	height: 350px;
	border-radius: 15px;
	border: none;
}

.imageZoom {
	margin: 30px 110px;
	width: 1250px;
	height: 725px;
	border-radius: 5px;
}

@media screen and (max-width: 740px){

	.videoContent iframe,
	.imageContent img {
		width: 350px;
		height: 250px;
	}

	.content h1 {
		font-size: 18pt;
	}

}

@media screen and (max-width: 420px){
	.videoContent iframe,
	.imageContent img {
		width: 250px;
		height: 150px;
	}

	.content h1 {
		font-size: 16pt;
	}

}
